# Algorítimo de classificação

## Importando bibliotecas

In [1]:
import pandas as pd

In [2]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [25]:
x = pd.DataFrame(data[['home', 'how_it_works', 'contact']])
y = pd.DataFrame(data['bought'])

In [26]:
x.rename(columns = {'home': 'principal', 'how_it_works': 'como_funciona', 'contact': 'contato'}, inplace=True)
y.rename({'bought': 'comprou'}, axis=1, inplace=True)

In [27]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [28]:
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [29]:
dados.shape()

NameError: name 'dados' is not defined

In [ ]:
# Separando dados de treino e dados de teste